.contact-header {
    width: 100%;
    height: 35vh;
    max-height: 25em;
    padding-top: 7em;
    padding-left: 7em;
    padding-right: 7em;
}

.contact-header__title {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.contact-header a {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--brand-blue--light);
    padding-top: 0.7em;
    border-top: 1px solid var(--light-gray);
}

.contact {
    height: 700px;
}

.contact-bg {
    background-image: linear-gradient(to right bottom, white, var(--light-gray));
    opacity: 0.7;
    width: 70vw;
    height: 650px;
    margin: 0 auto;
    position: relative;
    top: -2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -625px;
}

.contact-form label {
    color: var(--brand-blue);
    font-size: 1.5em;
    margin-bottom: 1em;
}

.contact-form input {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--brand-blue);
    margin-bottom: 1em;
}

.contact-form textarea {
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--brand-blue);
    margin-bottom: 1em;
    resize: none;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-blue);
    background-color: transparent;
    font-size: 2em;
    font-weight:700;
    width: 200px;
    height: 200px;
    margin-top: 0.5em;
    border: 2px solid var(--brand-blue);
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(30deg);
}

.send:hover{
    color: white;
    background-color: var(--brand-blue);
    transform: rotate(0deg);
    transition: background-color 300ms ease-out;
}

@media (min-width: 601px ) and (max-width: 800px){
    .contact-header {
        padding-top: 4em;
        padding-left: 4em;
    }
}

@media (max-width: 600px) {
    .contact-header {
        padding: 2em;
        max-height: 12em;
    }

    .contact-header__title{
        font-size: 2rem;
    }

    .contact-header a{
        font-size: inherit;
    }

    .contact-bg {
        width: 90vw;
    }

    .contact-form {
        width: 70%;
    }

    .send {
        font-size: 1em;
        width: 100px;
        height: 100px;
    }
}

