.pmblog-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "story1 media1"
    "media2 story2"
    "story3 media3"
    "media4 media5";
    grid-column-gap: 4em;
    grid-row-gap: 5em;
    padding: 2em 12em;
    max-width: 2000px;
    margin: 0 auto;
}

.pmblog-story1 {
    grid-area: story1;
}

.pmblog-media1 {
    grid-area: media1;
}

.pmblog-story2 {
    grid-area: story2;
}

.pmblog-media2 {
    grid-area: media2;
}

.pmblog-story3 {
    grid-area: story3;
}

.pmblog-media3 {
    grid-area: media3;
}

.pmblog-media4 {
    grid-area: media4;
}

.pmblog-media5 {
    grid-area: media5;
}

.pmblog-media3 video, .pmblog-story3 video {
   margin: 8rem 1rem;
}

@media (max-width: 1400px) and (min-width: 801px) {
    .pmblog-grid {
        padding: 2em 4em;
    }

    .project-text {
        font-size: 1em;
    }
}

@media (max-width: 800px) {
    .pmblog-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "story1"
        "media1"
        "media2"
        "story2"
        "story3"
        "media3"
        "media4"
        "media5";
        grid-row-gap: 2em;
        padding: 1em 2em;
    }

    .pmblog-story1, .pmblog-story2, .pmblog-story2 {
        margin: 0em;
    }

    .pmblog-media3 video, .pmblog-story3 video {
        margin: 2rem 1rem;
     }
     
}