#profile-wrapper {
    position: relative;
    width: 100%;
    min-height: 40vw;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    min-height: 40vw;
    overflow: hidden;
}

.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 40vw;
}

.layer .content-body {
    width: 25%;
    position: absolute;
    top: 45%;
    text-align: center;
}

.layer img {
    position: absolute;
    width: 35%;
    top: 20%;
    left: 30%;
}

.content-body__title{
    font-size: 2rem;
}

.bottom {
    background-color: #222; 
    background-image: url('/imgs/profile/profile-bottom-layer-bg.gif');
    background-size: contain;
    z-index: 1;
}

.bottom .content-body{
    right: 5%;
}

.bottom .content-body__title {
    color: white;
}

.bottom p {
    color: white;
}

.top {
    background-color: #eee;
    background-image: url('/imgs/profile/profile-top-layer-bg.jpg');
    background-size: contain;
    color: #222;
    z-index: 2;
    width: 50vw;
}

.top .content-body {
    left: 5%;
    color: black;
}

.handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: transparent;
    width: 5px;
    top: 0;
    z-index: 3;
}

.skewed .handle{
    top: 50%;
    transform:rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}


.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}


.skewed .top .content-wrap{
    transform: skew(30deg);
    margin-left: 1000px;
}

@media (max-width: 800px) {
    .content-body__title {
        font-size: 0.8rem;
    }

    .content-body p {
        display: none;
    }

}