.projects-title {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}

.projects-title::after {
    content: '';
    display: block;
    width: 7vw;
    height: 5px;
    background: black;
    margin: 1rem auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 8rem 10rem;
}

.project {
    height: auto;
    position: relative;
}

.project img {
    height: auto;
}

.project-overlay {
    visibility: hidden;
    background: transparent;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-overlay span {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 1rem;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.project:hover .project-overlay {
    visibility: visible;
    opacity: 0.9;
    background: linear-gradient(to right top, #0045ff, #fd00d1);
    height: auto;
    cursor: pointer;
} 

.project:hover .project-overlay span {
    opacity: 1;
}

.project__summary {
    padding: 2rem;
    text-align: center;
    background-color: var(--light-gray);
}

.project__tech {
    color: var(--brand-blue--light);
    font-weight: 500;
}


@media (max-width:2000px) {
    .projects-title {
        font-size: 3rem;
    }

    .projects {
        padding: 4rem 5rem;
    }
}

@media (max-width:1200px){
    .projects-title {
        font-size: 2rem;
        padding: 2rem;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 5rem;
    }

    .project-overlay{
        display: none;
    }
}

@media (max-width:850px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .projects-title {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .projects-title::after {
        width: 18vw;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        padding: 1rem;
    }

    .project-overlay{
        display: none;
    }
}