.project-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'intro intro intro . . . '
    'did did tech tech button button';
  gap: 2rem;
  padding: 8rem 15rem;
}

.project-intro {
  grid-area: intro;
  padding: 2rem 0;
}

.project-title {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.project-subtitle {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.project-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: hsla(0, 0%, 30%, 1);
}

.did {
  grid-area: did;
  padding: 1rem;
  border-right: 1px solid var(--light-gray);
}

.did-list-item {
  font-size: 1.4rem;
}

.did-list-item::before {
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.3rem;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--brand-blue);
  text-align: center;
  border-radius: 50%;
}

.tech {
  grid-area: tech;
  padding: 1rem;
  border-right: 1px solid var(--light-gray);
}

.demo-code {
  grid-area: button;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-code--button {
  color: var(--brand-blue);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 3px solid var(--brand-blue);
}

.demo-code--button:hover {
  color: white;
  background-color: var(--brand-blue);
}

.context-subtitle {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.ba-tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  transform: rotate(-30deg);
}

.before {
  background-color: hsla(9, 18%, 71%, 0.8);
}

.after {
  background-color: hsla(98, 8%, 45%, 0.8);
}

.back-to-projects {
  display: block;
  width: 20%;
  margin: 4rem auto;
}

@media (max-width: 1025px) {
  .project-grid {
    padding: 2rem 6rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .did-list-item {
    font-size: 1rem;
  }

  .before,
  .after {
    font-size: 1rem;
    padding: 1rem;
  }

  .demo-code--button {
    font-size: 1rem;
  }

  .back-to-projects {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'intro'
      'did'
      'tech'
      'button';
    padding: 1rem 2rem;
  }

  .project-text {
    font-size: 1rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-subtitle {
    font-size: 1.2rem;
  }

  .did,
  .tech {
    border: none;
  }

  .did-list-item {
    font-size: 1rem;
  }

  .ba-tag {
    width: 3rem;
    height: 3rem;
  }

  .before,
  .after {
    font-size: 0.7rem;
    padding: 0.7rem;
  }

  .back-to-projects {
    width: 50%;
  }
}
