.projects-title {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}

.projects-title::after {
    content: '';
    display: block;
    width: 7vw;
    height: 5px;
    background: black;
    margin: 1rem auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 8em 10em;
}

.project {
    height: auto;
    position: relative;
}

.project img {
    height: auto;
}

.project-overlay {
    visibility: hidden;
    background: transparent;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-overlay span {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 1em;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.project:hover .project-overlay {
    visibility: visible;
    opacity: 0.9;
    background: linear-gradient(to right top, #0045ff, #fd00d1);
    height: auto;
    cursor: pointer;
} 

.project:hover .project-overlay span {
    opacity: 1;
}

@media (max-width:1025px) and (min-width: 601px) {
    .projects-title {
        font-size: 2em;
        padding: 2rem;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
        padding: 2em 5em;
    }

    .project-overlay{
        display: none;
    }
}

@media (max-width: 600px) {

    .projects-title {
        font-size: 1.5em;
        padding: 1rem;
    }

    .projects-title::after {
        width: 18vw;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
        padding: 1em;
    }

    .project-overlay{
        display: none;
    }
}